@import url("https://fonts.googleapis.com/css2?family=Niconne&display=swap");

main.birthday-reminder{
  background-color: #f28ab2;
}
.birthday-reminder .container{
  background-color: white;
  padding: 1rem 2rem;
  justify-content: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  border-radius: 0.25rem;
}
.birthday-reminder h3 {
  font-family: "Niconne", cursive;
  color: #c02f67;
  font-weight: 400;
}
.birthday-reminder .article p {
  margin-bottom: 0;
  color: #c02f67;
}
.birthday-reminder button {
  background-color: #f28ab2;
  color: white;
}
