@import url("https://fonts.googleapis.com/css2?family=Caveat&family=Niconne&display=swap");
main {
  background-color: thistle;
}
.tours .underline{
 background-color: rgb(92, 69, 114);
}
.tours .title{
  color: rgb(92, 69, 114);
}
.tours .card{
  padding: 0;
}
/* .tours .card p{
  padding-bottom: 2rem;
} */
.tours .card img {
  height: 20vw;
  width: 100%;
  object-fit: cover;
}
.tours .btn {
  background-color: thistle;
  color: white;
  margin-bottom: 2rem;
}
.tours .card-title {
  margin-right: 50px;
  color: darkmagenta;
}
.tours .card-subtitle {
  font-family: "Niconne", cursive;
  font-size: 1rem;
}
